# Build artifacts
/build/
/bin/
/target/
/.xmake/
Cargo.lock

# Tool runtime
__pycache__/
*.pyc
compile_commands.json
docs/venv
.zig-cache/
bindings/zig/.zig-cache/
examples/hello-pier-go/hello_pier_go.dll
examples/hello-pier-zig/.zig-cache
examples/hello-pier-zig/zig-out

# Editors
.vscode/
.idea/
